PORT=3000
NODE_ENV=development

# PostgreSQL
DATABASE_URL=postgresql://admin:adminpassword@localhost:5432/conducteurs
DB_SSL=false

# Kafka
KAFKA_BROKER=localhost:9092
KAFKA_GROUP_ID=conducteur-service-group

# Keycloak
KEYCLOAK_ISSUER=http://keycloak:8080/realms/fleet
KEYCLOAK_JWKS_URI=http://keycloak:8080/realms/fleet/protocol/openid-connect/certs

# OpenTelemetry
JAEGER_ENDPOINT=http://jaeger:14268/api/traces
OTEL_SERVICE_NAME=conducteur-service
